<div class="container">
  This is the Testpay API.
  Send all of your texts to +14152752620 to begin sending monies.


  Test this out:
  <form action="/reply" method="post">
    <label>Enter a phone number</label>
    <input type="text" name="From">
    <br>
    <label>Enter a text message</label>
    <input type="text" name="Body">
    <input type="submit" action="submit" name="Go!">
  </form>

</div>
